.pdp8e-dark-bg { background: #b44722ea; }
.pdp8e-light-bg { background: #c0a01f; }
.pdp8e-dark-fg { color: #b44722ea; }
.pdp8e-light-fg { color: #c0a01f; }

.pdp8-panel {
    margin: 0;
    padding: 0;
}

.pdp8-panel-upper {
    display: flex;
    border: 2px solid #fff;
}

.dec-char {
    border-right: 2px solid #fff;
    font-family: 'Lucida Console', arial, sans-serif;
    font-size: 25px;
    color: #fff;
    line-height: 25px; 
    width: 15px;
    text-align: center;
    font-weight: bold;
    padding: 3px 1px 3px 0;
}

.dec-char:first-child {
    width: 40px;
}

.pdp8-logo {
    display: flex;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Lucida Console', arial, sans-serif;
    font-size: 25px;
    line-height: 25px; 
    text-shadow: -1px  1px 0 #fff, 1px  1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}

.pdp8-logo-text {
    font-size: 24px;
    font-weight: bold;
}

.pdp8-logo-text:nth-child(2) {
    margin-left: -1px;
}

.pdp8-logo-model {
    color: #fff;
    font-size: 22px; 
    font-weight: bold;
    text-shadow: none; 
    margin-left: -1px;
    padding-top: 2px;
}

.pdp8-logo-divider {
    color:#fff;
    font-size: 15px; 
    font-weight: normal;
    text-shadow: none;
    margin-left: -1px;
    position: relative;
    top: 1px;
    left: 0;
}

.pdp8-logo-submodel {
    color: #fff;
    font-size: 25px; 
    font-weight: bold;
    text-shadow: none; 
    margin-left: -2px;
}

.white-bottom-border {
    border-bottom: 1px solid #fff;
}

.pdp8-panel-lower {
    border: 2px solid #fff;
    border-top: none;
}

.dec-name {
    flex: 1;
    margin-left: 40px;
    font-family: 'Lucida Console', arial, sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    letter-spacing: -1px;
    padding-top: 2px;
}

.flex-one {
    flex: 1 auto;
}
